In [4]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

## Reading CSV

In [18]:
df = pd.read_csv('tensors/house_price_full.csv')

In [22]:
df.head()

   bedrooms  sqft_living    price
0         3         1340   313000
1         5         3650  2384000
2         3         1930   342000
3         3         2000   420000
4         4         1940   550000

## Data Transformations

In [23]:
X = df.copy()

In [24]:
# Remove target
Y = X.pop('price')

In [ ]:
# Perform a sacler transform of the input data
scaler = StandardScaler()
X = scaler.fit_transform(X)

StandardScaler is a preprocessing technique commonly used in machine learning to standardize or normalize the features of a dataset. It scales the features in such a way that they have a mean of 0 and a standard deviation of 1. This is often important for machine learning algorithms that are sensitive to the scale of the input features, such as support vector machines and k-nearest neighbors.

Here's how StandardScaler works:

It calculates the mean and standard deviation of each feature in the training data.
It subtracts the mean from each feature and then divides it by the standard deviation.
This process results in transformed features with a mean of 0 and a standard deviation of 1.

In [ ]:
# perform log transformation of target variable
Y = np.log(Y)

In [32]:
df_scaled = pd.DataFrame(X)
df_scaled

     bedrooms  sqft_living
0           3         1340
1           5         3650
2           3         1930
3           3         2000
4           4         1940
..        ...          ...
494         4         3040
495         5         4530
496         3         1370
497         3         1940
498         3         1040

[499 rows x 2 columns]

In [38]:
Y

0       313000
1      2384000
2       342000
3       420000
4       550000
        ...
494     647000
495     950000
496     185000
497     335000
498     210000
Name: price, Length: 499, dtype: int64

In [33]:
#Taking 1 sample: x0,x1
x1, x2 = df_scaled.iloc[0]

In [39]:
x = tf.constant([[x1,x2]], dtype=tf.float32)
x

## Forward Propagation with a single Neuron

The simplest way to describe a neural network is that we have some inputs , which get combined into an auxilliary variable . The auxilliary variable is passed through the activation function  and the result is the output.

Here is another image showing each step.
![](neuron.png)
Notice that the inputs are linearly combined according to some weights  and a bias . This transformation is also sometimes called an affine transformation. The perceptron transforms the weighted inputs according to the rule of the activation function. For a single perceptron, the output  is just the output from the perceptron. The linear transformation and activation of the neuron occurs within a single layer of the network (shown in the dotted box).

Let's see what the single-layer, single neuron network give us. We have a couple of choices to make:

We must choose some weights and some biases
We must choose an activation function
For now, we will manually specify the weights and biases.

We choose a sigmoid activation function

In [41]:
# Bias
b = tf.Variable([[1.0]], dtype=tf.float32)

# Weights
w1 = tf.Variable([[0.2]], dtype=tf.float32)
w2 = tf.Variable([[0.15]], dtype=tf.float32)

In [40]:
#Cumulative input
z = b + w1*x1 + w2*x2
h = tf.math.sigmoid(z)